@(form: Form[Login])

<script src="@routes.Assets.versioned("javascripts/app.js")"></script>

<form action="@routes.LoginController.tryLogin()" method="post">

    Username : <input type="text" name="username" value="@form.field("username").value()">
    @error("username", form)
    <br>

    Password : <input type="password" name="password" value="@form.field("password").value()">
    @error("password", form)
    <br>

    <input type="submit" value="Login">

</form>