
@(form: Form[Category])


<form action="@routes.CategoryController.create()" method="post">

    Id : <input type="text" name="id" value="@form.field("id").value()">

        @error("id", form)

        <br>

    Nama : <input type="text" name="nama" value="@form.field("nama").value()">

        @error("nama", form)

        <br>

    <input type="submit" value="Save">

</form>