@import java.util

@(list: util.List[Category])


@if(flash().containsKey("info")) {
    <h2 style="color : blue ;"> @flash().get("info") </h2>
}

<form action="@routes.LoginController.logout()" method="post">
    <input type="submit" value="Logout">
</form>


<table border="1">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    @for(c <- list) {

        <tr>
            <td>@c.id</td>
            <td>@c.nama</td>
            <td>
                <a href="@routes.CategoryController.edit(c.id)">Edit</a>

                <form action="@routes.CategoryController.remove(c.id)" method="post"
                onsubmit="return confirm('Anda Yakin Akan Menghapus?')">
                    <input type="submit" value="Remove">
                </form>

            </td>
        </tr>

    }
    </tbody>

</table>