@(id: String, form: Form[Category])


<form action="@routes.CategoryController.update(id)" method="post">

    Id : @id <br>

    Nama : <input type="text" name="nama" value="@form.field("nama").value()">

    @if(!form.field("nama").errors().isEmpty) {
        <ul>
        @for(error <- form.field("nama").errors()) {
            <li style="color : red ;">@error.message()</li>
        }
        </ul>
    }

    <input type="submit" value="Update">

</form>