@(name: String, form: Form[_])

@if(!form.field(name).errors().isEmpty) {
    <ul>
    @for(error <- form.field(name).errors()) {
        <li style="color : red ;">@error.message()</li>
    }
    </ul>
}