@import helpers.MoneyHelper

@(nama: String, value: Int)

@if(nama.equalsIgnoreCase("eko")) {

    <h1>Hello Boss</h1>

} else {

    <h1>Hello @nama</h1>

}

    <h2>@MoneyHelper.toIDR(value)</h2>


    @sidebar(true)